ReadXml/my.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Product">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ProductName" type="xsd:string"/>
      </xsd:sequence>
      <xsd:attribute name="ProductID" use="required" type="xsd:int"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>